/* Blob Cursor Styles */
.blob-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  overflow: hidden;
}

.blob-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  transition: transform 0.1s ease-out;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.inner-dot {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

/* Hide on mobile/touch devices */
@media (hover: none) and (pointer: coarse) {
  .blob-container {
    display: none;
  }
}

